.border {
  border-radius: 3px;
  border: 2px solid #ddd;
  border-width: 1px;
}

.section {
  margin-bottom: 40px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 2px solid #000; }

p#food-lookup-field-loading-indicator {
  color: grey;
  position: absolute;
  right: 31px;
  top: 7px;
}

#DayGoalsChart text {
  color: black;
  fill: black;
  font: 12px sans-serif;
  text-anchor: middle;
}
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.carbohydrate {
  fill: #FF7E0D;
}
.protein {
  fill: #B00DFF;
}
.fat {
  fill: #0CE8AE;
}

table.plan td ul {
  list-style-type: none;
  padding-left: 0px;
}
