{% extends "page.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.autocomplete.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
{% endblock %}
  <title>{% block title %}foodprocessor{% endblock %}</title>
{% block body %}
{{ super() }}
<div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-md-8">

            {% block menu_left %}
                <ul>
                    <li style="display:inline"><a href="{{ url_for('main.index') }}">home</a></li>
                    {% if current_user.is_authenticated %}
                        | <li style="display:inline"><a href="{{ url_for('main.goals') }}">goals</a></li>
                        | <li style="display:inline"><a href="{{ url_for('main.plan') }}">meal plan</a></li>
                        | <li style="display:inline"><a href="{{ url_for('main.edit_food', id=0) }}">manually add food</a></li>
                    {% endif %}
                </ul>
            {% endblock %}
        </div>
        <div class="col-md-4">
        {% if current_user.is_authenticated %}
        <p>{{ current_user.email }}</p>
        <p><a href="{{ url_for('main.logout') }}">Log Out</a></p>
        {% else %}
            <a href="{{ url_for('main.login') }}">Log In</a> /
            <a href="{{ url_for('main.signup') }}">Sign Up</a>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="flashes">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="bg-warning">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
    {% block my_content %}
    {% endblock %}

  <div class="row" id="footer" style="border-top: 1px solid #eee">
  {% block my_footer %}
      <h1 style="color: #eee">foodprocessor</h1s>
  {% endblock %}
  </div>
</div>
{% endblock %}
