{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/stylesheet.css">
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
  <title>{% block title %}foodprocessor{% endblock %}</title>
{% block body %}
{{ super() }}
<div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-md-8"><h1>foodprocessor</h1></div>

        <div class="col-md-4">
        {% if current_user.is_authenticated %}
        <p>{{ current_user.email }}</p>
        <p><a href="{{ url_for('main.logout') }}">Log Out</a></p>
        {% else %}
        <a href="{{ url_for('main.login') }}">Log In</a>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="flashes">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="bg-warning">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
    <div class="row">
    <div class="col-md-3 border">
    {% block menu_left %}
    <ul>
        <li><a href="{{ url_for('main.home') }}">home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('main.raw_entries') }}">raw entries</a>
            <li><a href="{{ url_for('main.raw_entries_histogram') }}">raw entries histogram</a>
        </li>
        {% endif %}
    </ul>
    {% endblock %}
    </div>
    <div class="col-md-9">
    {% block my_content %}
    {% endblock %}
    </div>
    </div>
</div>
<footer class="footer">
{% block my_footer %}
{% endblock %}
</footer>
{% endblock %}

