{% extends "base.html" %}

{% block title %}canvas{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/js/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.autocomplete.min.js"></script>
<script type="text/javascript">

$(function() {
    $('input.realtime-parse').autocomplete({
        serviceUrl: '/parse-autocomplete',
        type: 'POST',
        dataType: 'json',
        onSearchStart: function() {
            console.log('search start');
        },
        onSearchComplete: function (query, suggestions) {
            console.log('search complete'); 
            console.log(suggestions);
        },
        noCache: true
    });
});

</script>
<script type="text/javascript">

$(function() {
    var engine = new Bloodhound({
        local: ['apple', 'foood', 'bananana'],
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {
            url: '/food/all.json',
            transform: function(response) { return response.foods }
        }
    });

    $('.typeahead').typeahead({
        minLength: 1,
        highlight: true
    }, {
        name: 'animals',
        limit: 10,
        source: engine
    });

    $('.typeahead').bind('typeahead:select', function(event, suggestion) {
        $('ul.entry-items').append('<li>' + suggestion + '</li>');
        $('input.typeahead').typeahead('val', '');
    });

});

</script>
{% endblock %}

{% block my_content %}
{{ super() }}
<div id="realtime-parse" style="border: 1px solid black; padding: 15px; margin: 15px">
<h2>Realtime Parse</h2>
<ul class="rtp-items">
</ul>

<input class="realtime-parse" type="text" size="100%" />
</div>

<div id="typeahead" style="border: 1px solid black; padding: 15px; margin: 15px">
<h2>Typeahead</h2>
<ul class="entry-items">
</ul>

<input class="typeahead" type="text" size="100%" />
</div>

{% endblock %}
