{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}edit - {{ food.long_desc }}{% endblock %}


{% block my_content %}
    {{ super() }}

  <form action="" method="post" class="form" role="form">
      {{ fef.submit() }}
      {{ fef.csrf_token }}
      <table class="table table-bordered">

          {% for i in range(fef.measure_names|length) %}
          <tr>
              {{ fef.measure_ids[i]() }}
              <td>{{ fef.measure_names[i]() }}
              {% if fef.measure_names[i].errors %}
                    {% for error in fef.measure_names[i].errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
              {% endif %} 
              </td>
              <td>{{ fef.measure_amounts[i]() }} (g)
              {% if fef.measure_amounts[i].errors %}
                    {% for error in fef.measure_amounts[i].errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
              {% endif %} 
              
              </td>
          </tr>

          {% endfor %}

      </table>
      <table class="table table-bordered">

          {% for i in range(fef.nutrient_data_ids|length) %}
          <tr>
              <td>{{ fef.nutrient_data_ids[i]() }}
                  {{ fef.nutrient_names[i] }}
              </td>
              <td>{{ fef.nutrient_amounts[i]() }} ({{ fef.nutrient_units[i] }})
              {% if fef.nutrient_amounts[i].errors %}
                    {% for error in fef.nutrient_amounts[i].errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
              {% endif %} 
              
              </td>
          </tr>

          {% endfor %}

      </table>
      {{ fef.submit() }}
  </form>
{% endblock  %}
