{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}edit - {{ food.long_desc }}{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
$(function() {
    $(".delete_row").click(function() {
        $(this).parent().parent().remove();
    });
    $("#add-measure").click(function() {
        // get array of elements
        var max = 0;
        $("input[id^='measure_ids']").map(function(i, e) {
            var num = parseInt($(e).attr("id").split("-")[1]);
            if (num > max)
                max = num;
        });
        var num = max + 1; 
        var new_row = '\
<tr><input id="measure_ids-' + num + '" name="measure_ids-' + num + '" value="" type="hidden">\
<td><input id="measure_names-' + num + '" name="measure_names-' + num + '" value="" type="text"></td>\
<td><input id="measure_amounts-' + num + '" name="measure_amounts-' + num + '" value="" type="text"> (g)</td></tr>';
        $('#measures tr:last').before(new_row);
    });
});
</script>
{% endblock %}


{% block my_content %}
    {{ super() }}

  <form action="" method="post" class="form" role="form">
      {{ fef.submit() }}
      {{ fef.csrf_token }}
      <table id="measures" class="table table-bordered">

          {% for i in range(fef.measure_names|length) %}
          <tr>
              {{ fef.measure_ids[i]() }}
              <td>{{ fef.measure_names[i]() }}
              {% if fef.measure_names[i].errors %}
                    {% for error in fef.measure_names[i].errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
              {% endif %} 
              </td>
              <td>{{ fef.measure_amounts[i]() }} (g)
              {% if fef.measure_amounts[i].errors %}
                    {% for error in fef.measure_amounts[i].errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
              {% endif %} 
              
              </td>
              <td><a class="delete_row">delete measure</a></td>
          </tr>
          {% endfor %}
          <tr><td colspan="100%"><center>
                      <a id="add-measure">add another</a>
          </center></td></tr>
      </table>
      <table class="table table-bordered">

          {% for i in range(fef.nutrient_data_ids|length) %}
          <tr>
              <td>{{ fef.nutrient_data_ids[i]() }}
                  {{ fef.nutrient_names[i] }}
              </td>
              <td>{{ fef.nutrient_amounts[i]() }} ({{ fef.nutrient_units[i] }})
              {% if fef.nutrient_amounts[i].errors %}
                    {% for error in fef.nutrient_amounts[i].errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
              {% endif %} 
              
              </td>
          </tr>

          {% endfor %}

      </table>
      {{ fef.submit() }}
  </form>
{% endblock  %}
