{% extends "base.html" %}

{% block title %}{{ food.short_desc }}{% endblock %}

{% block my_content %}
{{ super() }}

<h2>{{ food.id }}, {{ food.long_desc }}</h2>

<h3>Sizes</h3>
<table class="table">
    <tr><th>description</th><th>weight in grams</th></tr>
{% for ms in food.measurements %}
<tr>
<td>{{ ms.description }}</td>
<td>{{ ms.gram_weight }}</td>
</tr>
{% endfor %}
</table>

<h3>nutrients in 100g</h3>
<table class="table">
{% for nutrient in food.nutrients %}
<tr>
<td>{{ nutrient.nutr_val }}{{ nutrient.nutrient.units }}</td>
<td>{{ nutrient.nutrient.desc }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
