{%  extends 'base.html' %}
{% block title %}nutrient goals{% endblock %}

{% block my_content %}

    <table class="table table-bordered">
        {% for goal in goals %}
            <tr>
                <td>{{ goal.nutrient.desc }}</td>
                <td>
                    <form action="{{ url_for('main.create_goal') }}" method="post">
                        <input type="number" name="amount" step="any" min="0" value="{{ goal.amount }}"/>
                        <input type="hidden" name="nutrient_id" value="{{ goal.nutrient.nutr_no }}" />
                        (units are {{ goal.nutrient.units }})
                        <input type="submit" value="change" />
                    </form></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}


