{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}home{% endblock %}

{% block my_content %}
{{ super() }}
<div style="margin-bottom: 20px">
<h3>New Entry</h3>
<form method="post">
<div class="row">
<div class="col-md-10">
{{ create_form.content(class_='form-control') }}
</div>
<div class="col-md-2">
{{ create_form.submit(class_='btn btn-default') }}
</div>
  {{ create_form.csrf_token() }}
</div>
</form>
</div>


<table class="table">
<tr>
<th>date</th>
<th>raw entry</th>
<th>tagged entry</th>
</tr>
{% for entry in week %}
<tr>
    <td><a href="{{ url_for('main.raw_entry', id=entry.id) }}">{{ moment(entry.at).calendar() }}</a></td>
    <td>{{ entry.content }}</td>
    <td><ul>
        {% for tag in entry.tags %}
            <li>
              {{ tag.text }} >>> 
                {% if tag.food_description %}
                <a href="{{ url_for('main.food', id=tag.food_description.id) }}">{{ tag.food_description.long_desc }}</a>
                {% endif %}
            </li>
        {% endfor %} 
    </ul></td>
</tr>
{% endfor %}
</table>


{% endblock %}
{% block my_footer %}
{{ super() }}

{% endblock %}

