{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}home{% endblock %}

{% block my_content %}
{{ super() }}
<div style="margin-bottom: 20px">
<h3>New Entry</h3>
<form method="post">
<div class="row">
<div class="col-md-10">
{{ create_form.content(class_='form-control') }}
</div>
<div class="col-md-2">
{{ create_form.submit(class_='btn btn-default') }}
</div>
  {{ create_form.csrf_token() }}
</div>
</form>
</div>


<table class="table">
{% for day in week %}
    <tr><td colspan="1000000"><h4>{{ day[0].strftime("%A, %B %d") }}</h4></td></tr>
    {% if day[1]|length > 0 %}  
        <tr><th>date</th><th>raw entry</th><th>tagged entry</th></tr>
        {% for entry in day[1] %}
        <tr>
            <td><a href="{{ url_for('main.raw_entry', id=entry.id) }}">{{ moment(entry.at).calendar() }}</a></td>
            <td>{{ entry.content }}</td>
            <td><ul>
                {% for tag in entry.tags %}
                    <li>
                        {{ tag.count }}:{{ tag.text }} >>> 
                        {% if tag.food_description %}
                        <a href="{{ url_for('main.food', id=tag.food_description.id) }}">{{ tag.food_description.long_desc }}</a>
                        {% else %}
                        Unknown
                        {% endif %}
                    </li>
                {% endfor %} 
            </ul></td>
        </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="1000000">Nothing!</td></tr>
    {% endif %}
{% endfor %}
</table>


{% endblock %}
{% block my_footer %}
{{ super() }}

{% endblock %}

