{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}home{% endblock %}

{% block my_content %}
    {{ super() }}
    <div style="margin-bottom: 20px">
        <h4>What have you had to eat?</h4>
        <form method="post" action="{{ url_for('main.create_raw_entry') }}">
            <div class="row">
                <div class="col-md-10">
                    {{ create_form.content(class_='form-control') }}
                </div>
                <div class="col-md-2">
                    {{ create_form.submit(class_='btn btn-default') }}
                </div>
                {{ create_form.csrf_token() }}
            </div>
        </form>
    </div>

    <style>
        div.chart {
            border: 1px solid black;
            padding: 0px;
        }

        .chart div {
            width: 100%;
            font: 10px sans-serif;
            background-color: steelblue;
            text-align: left;
            padding: 3px;
            padding-right: 0px;
            padding-left: 0px;
            margin: 1px;
            color: black;
        }

    </style>

    <!-- Today's chart -->
    {%  if day_goals|length != 0 %}
        <div class="chart">
            {% for nut in day_goals %}
                <div style="width: {{ nut[1]*100 }}%;">{{ nut[0].desc }}: {{ nut[2] }}/{{ nut[3] }}{{ nut[0].unit }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Previous week's tables -->
    <table class="table">
        {% for day_nuts, day_entries in week %}
            <tr><td colspan="1000000"><h4>{{ day_nuts[0].strftime("%A, %B %d") }}</h5></td></tr>
            {% if day_nuts[1]|length > 0 %}
                <table class="table table-bordered">
                    {% for entry in day_entries[1] %}
                        <tr><td>{{ entry.pretty_short()|safe }}</td>
                            <td><a href="{{ url_for('main.raw_entry', id=entry.id) }}">(edit)</a></td></tr>
                    {% endfor %}
                    <tr>
                </table>
                <table class="table table-bordered">
                    {% for nutr in day_nuts[2] %}
                        <tr><td>{{ nutr[0].desc }}</td><td>{{ nutr[1] }}{{ nutr[0].units }}</td></tr>
                    {% endfor %}
                    <tr>
                </table>
            {% else %}
                <tr><td colspan="1000000">Nothing!</td></tr>
            {% endif %}
        {% endfor %}
    </table>


{% endblock %}
{% block my_footer %}
    {{ super() }}

{% endblock %}

