{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}home{% endblock %}

{% block my_content %}
{{ super() }}
<div style="margin-bottom: 20px">
<h4>What have you had to eat?</h4>
<form method="post">
<div class="row">
<div class="col-md-10">
{{ create_form.content(class_='form-control') }}
</div>
<div class="col-md-2">
{{ create_form.submit(class_='btn btn-default') }}
</div>
  {{ create_form.csrf_token() }}
</div>
</form>
</div>


<table class="table">
{% for day in week %}
    <tr><td colspan="1000000"><h4>{{ day[0].strftime("%A, %B %d") }}</h4></td></tr>
    {% if day[1]|length > 0 %}  
        {% for entry in day[1] %}
        <tr>
            <td><h4>{{ moment(entry.at).calendar() }}: {{ entry.pretty_short()|safe }}
                <a href="{{ url_for('main.raw_entry', id=entry.id) }}">(edit)</a></h4>
                <table class="table table-bordered">
                    {% for nutr in entry.nutrients(group=1) %}
                        <tr><td>{{ nutr[0].desc }}</td><td>{{ nutr[1] }}{{ nutr[0].units }}</td></tr>
                    {% endfor %}
                    <tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="1000000">Nothing!</td></tr>
    {% endif %}
{% endfor %}
</table>


{% endblock %}
{% block my_footer %}
{{ super() }}

{% endblock %}

