{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block head %}
{{ super() }}

<style type="text/css">

html { 
  background: url(static/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    background: none;
}

div.container {
    padding: 100px;
    background: #fff;
}

</style>
{% endblock %}

{% block my_content %}
{{ super() }}
<h2>about</h2>
<p>
This is Clay Jones' senior project for his Computer Science degree at California Polytechnic State University. 
</p>
<h2>problem</h2>
<p>It is an insightful health practice but not a technical challenge to record all the food a patient or user eats.
However, there are many ways to improve the user's likelihood to record all food, quality of the data,
and quality of the advice provided. Existing solutions lack customization, 
were designed on outdated nutrition practices, have suboptimal user interfaces, and lack clinical support.
</p><p>
It is a meticulous process to enter the nutrition info of all the food you eat,
especially foods lacking labels or brand names.
We are asking patients to take a small amount of time every time they eat to enter this data. 
This leads to patients forgetting or quitting the food tracking habit. 
</p><p>
Technology can be employed to assist with this. 
</p>
<h2>goals</h2>
<p>
It is easier for people to "jot down" what they ate, but complex nutritional analysis requires a lot of data regarding
portion size, nutrient composition, or brand of food. My goal is to offload as much of this labor to software
as possible.
</p>
<h2>for testers</h2>
<p>
Please contact me for a testing account. Your data will be used by the system and visible to developers (myself).
No other users will be able to see your food log. I do my best to backup all data but this project is a work in progress
and highly unstable. 
</p>
<p>
At first, there may not be much analysis or interesting features. I still believe it is a good practice
to write down food intake because it makes you aware of your choices. Later when more features are avaliable, these food logs
will still be in the database.
</p>

<h2>data sources</h2>
<p>
Nutrition info via <a href="http://ndb.nal.usda.gov/">USDA National Nutrient Database</a>
</p>
<p>
NLP corpora via <a href="http://www.nltk.org/api/nltk.corpus.html">NLTK</a>
</p>
<h2>open source projects used here</h2>
<p>
pip freeze: 
<pre>
alembic
Flask
Flask-Bcrypt
Flask-Bootstrap
Flask-Login
Flask-Migrate
Flask-Moment
Flask-Script
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
nltk
oauth
requests
SQLAlchemy
tweepy
Twisted
Werkzeug
WTForms
</pre>
</p>
{% endblock %}


