{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}raw entries{% endblock %}

{% block my_content %}
<h3>raw entries [<a href="{{ url_for('main.raw_entries_histogram') }}">histogram</a>]</h3>

<div>
<h3>New Entry</h3>
<form method="post">
  {{ create_form.content() }}
  {{ create_form.submit() }}
</form>
</div>

<table class="table">
{% for entry in current_user.raw_entries %}
<tr>
<td>{{ moment(entry.at).fromNow() }}</td>
<td>{{ entry.content }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
